*{
  box-sizing: border-box;
}

/* Das iste in ein Kommentar */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  margin:auto 0;
  line-height: 1.4;
}

p{
  font-family: 'PT Serif', serif;
}

#navigation{
  background-color: rgb(40,44,52);
  height:60px;
}

.wrapper{
  width: 90%;
  margin: auto;
}

#navigation a{
  color: rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s color linear;

}

#navigation a:hover, .cur a{
  color: rgb(240,128,128) !important;
}



nav li{
  list-style: none;
  margin-left: 2em;
}

#menu{
  background-color: rgb(40,44,52);
}


#logo{
  margin-top: 10px;
}

#burger{
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 2em;
  float: right;
  margin-top: 14px;
  padding: 0;
}

#hero{
  width: 100%;
  height: 40vh;
  background-image: url(img/femintro.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}

.btn{
  background: rgb(240,128,128);
  color: white;
  text-decoration: none;
  padding: 0.5em;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border: 1px solid white;
  border-radius: 4px;
  display: inline-block;
  margin-top: 2em;
  transition: 0.5s all linear;

}

.btn:hover{
  background: rgb(205,92,92);
}

.card img{
  border-radius: 4px 4px 0 0;
  width: 80%;
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.card-text{
  text-align: center;
  padding: 1em;
}

.col h3{
  margin: 0;
}

.card {
  margin: 10px;
  display: block;
  border-style: solid;
  border-radius: 15px;
  border-color: grey;
}



footer{
  clear: both;
  background-color: rgb(40,44,52);
  width: 100%;
  min-height: 100px;
}

footer li{
  list-style: none;
}

footer li a{
  color: white;
  text-decoration: none;
}

#social-menu li{
  float: left;
  margin-left: 1em;
}

footer{
  padding: 2em;
  text-align: center;
}

#footer-menu{
  padding: 0;
}
#social-menu{
  display: inline-block;
  padding: 0;
}

#menu{
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 2;
  width: 100%;
  display: none;
}

#menu.show{
  display: block;
}

@media (min-width:768px) {

#menu{
  position: static;
  width: auto;
  display: block;
}

  #burger{
    display: none;
  }

  #menu{
    float: right;
  }

  nav li{
    float: left;
  }

  .hero-text h1{
    font-size: 3em;
  }

  * {
      box-sizing: border-box;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

.card img {
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 5px;
      width: 220px;
      display: block;
      margin-left: auto;
      margin-right: auto;
}

.card-text  {
text-align: center;
}

.card {
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    flex: 1;
    height: 500px;
}

  #footer-menu li{
    float: left;
    margin-right: 1em;
  }

  .wrapper{
    position: relative;
    min-height: 200px;
  }

  #footer-menu{
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
  }

  #social-menu{
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0;
    padding: 0;
    transform: translateY(-50%);
  }
}
